body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #a27c1b no-repeat;
    background-size: cover;
  }
  
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: auto;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(174, 146, 54, 0.6);
    box-sizing: border-box;
    box-shadow: 10px 15px 25px rgba(185, 146, 29, 0.5);
    border-radius: 10px;
  }
  
  .login-tab {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    margin-top: -10px;
    margin-left: 1px;
  }
  
  .login-tab .col {
    width: 100%;
    color: #a98722;
    float: left;
    cursor: pointer;
    padding: 5px;
    padding-top: 8px;
  }
  
  .box .form-group {
    position: relative;
  }
  
  .box .form-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 15px;
    color: #c88f25;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #bca124;
    outline: none;
    background: transparent;
  }
  
  .box .form-group input:-webkit-autofill,
  .box .form-group input:-webkit-autofill:hover,
  .box .form-group input:-webkit-autofill:focus {
    border: none;
    border-bottom: 1px solid #ae9019;
    -webkit-text-fill-color: #beb31a;
    transition: background-color 5000s ease-in-out 0s;
  }
  
  .box .form-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px;
    font-size: 15px;
    color: #c6a015;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .box .form-group input:focus~label,
  .box .form-group input:valid~label {
    top: -20px;
    left: 0;
    color: #bba925;
    font-size: 13px;
  }
  
  .remember-forgot-tab {
    margin-top: -10px;
    margin-bottom: 20px;
    line-height: 16px;
  }
  
  .checkbox label {
    float: left;
  }
  
  .forgot-pass label {
    float: right;
  }
  
  .remember-forgot-tab .checkbox label,
  .remember-forgot-tab .forgot-pass a {
    text-decoration: none;
    color: #938021;
    font-size: 15px;
    cursor: pointer;
  }
  
  .remember-forgot-tab label:hover,
  .remember-forgot-tab a:hover {
    color: #c1970e;
    font-size: 17px;
  }
  
  .remember-forgot-tab .checkbox input {
    position: absolute;
    line-height: 16px;
    height: 15px;
    width: 15px;
  }
  
  .remember-forgot-tab .checkbox span {
    margin-left: 22px;
  }
  
  .box .form-group .toggle-password {
    float: right;
    position: relative;
    margin-top: -62px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.85;
    color: #d8bd0d;
  }